/* VISUAL */
body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Tab Bar */
.tabBar {
    position: absolute;
    width: 40vh;
    height: 100vh;
    background-color: #fff;
    padding: 0;
}
.fontLogo {
    display: flex;
    margin: 3vh 5vh;
    align-items: center;
}


/* header */
header .title {
    position: absolute;
    font-family: "GmarketSans";
    font-weight: bolder;
    font-size: 1.6rem;
    margin-left: 47vh;
    margin-top: 5vh;
}
header .imgBox {
    position: absolute;
    margin-left: 180vh;
}
header .imgBox svg:first-child {
    position: absolute;
    margin-top: 4vh;
    width: 5vh;
}
header .imgBox svg:last-child {
    position: absolute;
    margin-top: 1.5vh;
    margin-left: 9vh;
    width: 13vh;
}

/* Dash Board */
.dashBoard {
    position: absolute;
    margin: 8vh 0 0 47vh;
    font-family: "GmarketSans";
    font-weight: bolder;
    font-size: 1.8rem;
}
.notice {
    background-color: #F4BD55;
    width: 150vh;
    height: 20vh;
    color: #fff;
    border-radius: 10px;
    margin-top: 6vh;
    padding: 20px;
}
.themaImg {
    margin-left: 90vh;
    top: -48vh;
    position: relative;
    z-index: 1;
    width: 40vh;
}

/* HomeBaseRervation */
.homebaseRervation {
    position: absolute;
    border-radius: 10px;
    margin-left: 47vh;
    margin-top: 45vh;
}
.homebaseRervation h1 {
    font-family: "GmarketSans";
    font-weight: 900;
    font-size: 1.5rem;
}
.homebaseRervation .themaBox {
    background-color: #fff;
    margin-top: 3vh;
    width: 85vh;
    height: 45vh;
    border-radius: 10px;
}


/* Date */
.date {
    position: absolute;
    margin-left: 139vh;
    margin-top: 45vh;
}
.date h1 {
    font-family: "GmarketSans";
    font-weight: 900;
    font-size: 1.5rem;
}
.date .themaBox {
    background-color: #fff;
    margin-top: 20px;
    width: 64vh;
    height: 45vh;
    border-radius: 10px;
}