/* VISUAL */
body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}
@font-face {
    font-family: 'GmarketSans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Tab Bar */
.tabBar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    padding: 0;
}
.fontLogo {
    display: flex;
    margin: 20px 3vh;
    align-items: center;
}


/* header */
header .title {
    position: absolute;
    font-family: "GmarketSans";
    font-weight: bolder;
    font-size: 25px;
    margin-left: 340px;
    margin-top: 30px;
}
header .imgBox {
    position: absolute;
    margin-left: 1300px;
}
header .imgBox svg:first-child {
    position: absolute;
    margin-top: 40px;
}
header .imgBox svg:last-child {
    margin-top: 20px;
    margin-left: 70px;
}

.modal {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 1220px;
    margin-top: 90px;
}
.modal .check-text {
    font-family: "Pretendard";
    font-weight: bold;
    margin-top: 40px;
    margin-left: 10px;
    font-size: 25px;
    cursor: default;
}
.modal .bg {
    width: 100%;
    height: 100%;
}
.modalBox {
    position: absolute;
    background-color: #fff;
    width: 212px;
    height: 160px;
    padding: 15px;
    border-radius: 10px;
}
.hidden {
    display: none;
}


.openProfile {
    cursor: pointer;
    background-color: red;
    height: 100px;
}

/* Dash Board */
.dashBoard {
    position: absolute;
    margin: 50px 0 0 340px;
    font-family: "GmarketSans";
    font-weight: bolder;
    font-size: 30px;
}
.notice {
    background-color: #F4BD55;
    width: 150vh;
    height: 20vh;
    color: #fff;
    border-radius: 10px;
    margin-top: 60px;
    padding: 20px;
}
.themaImg {
    margin-left: 620px;
    top: -110px;
    position: absolute;
    z-index: 1;
}

/* HomeBaseRervation */
.homebaseRervation {
    position: absolute;
    border-radius: 10px;
    margin-left: 340px;
    margin-top: 320px;
}
.homebaseRervation h1 {
    font-family: "GmarketSans";
    font-weight: 900;
    font-size: 25px;
}
.homebaseRervation .themaBox {
    background-color: #fff;
    margin-top: 20px;
    width: 85vh;
    height: 45vh;
    border-radius: 10px;
}


/* Date */
.date {
    position: absolute;
    margin-left: 1000px;
    margin-top: 320px;
}
.date h1 {
    font-family: "GmarketSans";
    font-weight: 900;
    font-size: 25px;
}
.date .themaBox {
    background-color: #fff;
    margin-top: 20px;
    width: 64vh;
    height: 45vh;
    border-radius: 10px;
}